.login-container {
    padding: 7rem 2rem 1rem;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.login-button {
    position: relative;
    background: transparent;
    color: var(--text-1);
    border: none;
    padding: 0.6rem 1.5rem;
    font-weight: 800;
    border-radius: 100vw;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
    margin: 0.6rem auto;
}

.login-button i {
    margin: 0 0.5rem 0 0;
}

.login-button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, var(--accent-1-dark), var(--accent-1), var(--accent-2));
    border-radius: inherit;
    z-index: -1;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    padding: 2px;
    box-sizing: border-box;
}

.login-button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, var(--accent-1-dark), var(--accent-1), var(--accent-2));
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.login-button:hover::before {
    opacity: 0;
}

.login-button:hover::after {
    opacity: 1;
}

.login-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-1);
    border-radius: 0.3vw;
    border: 0;
    padding: 0.35rem 0.35rem 0.35rem 0.85rem;
    max-width: 25rem;
    width: 100%;
    margin: 0.6rem auto;
    gap: 0.5rem;
}
  
.login-input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.4rem 0.6rem;
    outline: none;
    border-radius: 100vw;
    color: var(--base-2);
    font-weight: 500;
}
  
.login-input::placeholder {
    color: var(--text-3);
}

.login-card {
  background: rgba(255, 255, 255, 0);
  border: 1px solid var(--text-1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 30rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--text-1);
    margin: 1.5rem 0;
    opacity: 0.3; 
}

.hero-h1 {
    margin: 0.5rem 1rem 1rem;
    word-spacing: 0.15rem;
}

.signup-prompt {
    text-align: center;
    margin-top: 0.6rem;
    display: flex;
    justify-content: cente;
    align-items: center;
}

.signup-link {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0.3rem;
    color: var(--accent-1);
}

.signup-link:hover {
    text-decoration: underline;
    color: var(--accent-2);
}

