.table-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 0.15rem;
    margin: 1.5rem auto;
    max-width: 60rem;
}

.csv-btn, .save-btn {
    height: 3rem !important;
}

.csv-btn i, .save-btn i {
    margin: 0 0.75rem 0 0;
    font-size: 1.25rem;
}


/* ==================
     MAIN TABLE
================== */

.table-div {
    background-color: var(--base-2);
    background: linear-gradient(180deg, var(--base-2), var(--base-1));
    border-radius: 2.5vw;
    max-width: 55rem;
    margin: 0 auto 2rem;
    padding: 0.5rem 1rem;
}

.table-container {
    color: var(--text-2);
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    border-collapse: collapse;
    max-width: 55rem;
}
  
.table-container th,
.table-container td {
    border-bottom: 1px solid var(--text-1);
    text-align: left;
    padding: 0.6rem;
    min-width: 90px;
}

.table-container th:nth-child(4),
.table-container td:nth-child(4) {
    min-width: 125px;
}

.table-container th {
    font-family: CabinetGrotesk-Variable, sans-serif;
    color: var(--text-1);
    font-size: 1rem;
    font-weight: 700;
}

.table-container tr:last-child td {
    border-bottom: none;
}

.table-container tbody tr:hover {
    background-color: var(--base-3);
    cursor: pointer;
}

.table-container thead i {
    color: var(--accent-2);
    font-size: 0.9rem;
    margin: 0 0 0 0.4rem;
    cursor: pointer;
}

.research-td {
    font-family: Satoshi-VariableItalic;
    font-size: 0.7rem;
    text-transform: capitalize;
    font-weight: 400;
}
  

/* ==========================
     TABLE RESPONSIVENESS
========================== */

@media (max-width: 992px) {
    .table-div {
        margin: 1.5rem auto 2rem;
        border: none;
        padding: 1rem 1rem;
        background: transparent;
    }

    .table-container thead {
        display: none;
    }
  
    .table-container tr {
        display: block;
        margin: 0 auto 1.5rem;
        border-radius: 2.5vw;
        background-color: var(--base-2);
        max-width: 30rem;
        overflow: hidden;
    }
  
    .table-container td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1rem;
      gap: 0.35rem;
      border: none;
      text-align: right;
    }

    .table-container td::before {
      content: attr(data-label);
      font-family: CabinetGrotesk-Variable, sans-serif;
      font-weight: 700;
      font-size: 1rem;
      flex-basis: 50%;
      color: var(--text-3);
      text-align: left;
    }

    .table-container tr:last-child {
        margin: 0 auto;
    }
}
  


/* ==========================
     OTHER RESPONSIVENESS
========================== */

@media (max-width: 1024px) {
    .csv-btn {
        max-width: 12.8rem !important;
    }

    .save-btn {
        max-width: 11.6rem !important;
    }
    
    .csv-btn i, .save-btn i {
        margin: 0 0.75rem 0 0;
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .csv-btn {
        max-width: 12.6rem !important;
        order: 1;
    }

    .save-btn {
        max-width: 11.4rem !important;
        order: 2;
    }
    
    .csv-btn i, .save-btn i {
        margin: 0 0.75rem 0 0;
        font-size: 1rem;
    }

    .page-btn {
        order: 3;
    }
}