.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%; 
  box-sizing: border-box;
  margin: 0 auto;
  max-width: fit-content;
}

.list-link {
  font-weight: 600;
  color: var(--text-1);
  text-decoration: none;
  flex-grow: 1;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.6rem 1.5rem 0.6rem 0;  
}

.summ-container {
    width: 100%;
    margin: 2rem auto 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--base-2);
    border-radius: 4vw;
}

.summ-button {
    background-color: transparent;       
    color: var(--accent-2);                   
    border: 2px solid var(--accent-2);             
    padding: 0.6rem 1.5rem;
    font-weight: 800;
    border-radius: 100vw;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
  }
  
  .summ-button:hover {
      background-color: var(--accent-2);       
      color: var(--base-1);
  }

  @media (max-width: 768px) {
    .list-item {
        font-size: 0.65rem !important;
    }
}