.delete-button {
  background-color: transparent;       
  color: var(--accent-3);                   
  border: 2px solid var(--accent-3);             
  padding: 0.6rem 1.5rem;
  font-weight: 800;
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background-color: var(--accent-3);       
    color: var(--base-1);
}

.summarise-button{
  background-color: transparent;       
  color: var(--accent-2);                   
  border: 2px solid var(--accent-2);             
  padding: 0.6rem 1.5rem;
  font-weight: 800;
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 1rem;
}

.summarise-button:hover {
  background-color: var(--accent-2);       
  color: var(--base-1);
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%; 
  box-sizing: border-box;
  margin: 0 auto;
  max-width: fit-content;
}

.list-link {
  font-weight: 600;
  color: var(--text-1);
  text-decoration: none;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.6rem 0;  
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.list-container {
    width: 40%;
    min-width: 350px;
    margin: 2rem auto 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--base-2);
    border-radius: 4vw;
}

.list-item-container {
  display:flex;
  flex-direction: column;
}


@media (max-width: 420px) {
  .list-container {
    min-width: 300px;
  }
  .summarise-button{
    margin-left: 0;
  }
  .delete-button{
    margin-bottom: 0.5rem;
  }
}

