/* Global fonts */
@import url('./fonts/css/satoshi.css');
@import url('./fonts/css/cabinet-grotesk.css');

/* Global colours */
:root {
    --base-1: #1e1e1e;
    --base-2: #272727;
    --text-1: #fffcf9;
    --text-2: #cccccc;
    --accent-1: #7e6bfd;
    --accent-1-dark: #5b3fd8;
    --accent-2: #ffd896;
    --accent-2-dark: #f1c16d;
}

/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root HTML and body */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

/* React root element */
#root {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: var(--base-1);
    color: var(--text-1);
    font-family: Satoshi-Variable, sans-serif;
    text-align: center;
}

/* Main App container */
.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

/* Other Default Styles */
h1 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 800;
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}

h3 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

p {
    font-size: 1rem;
    color: var(--text-2);
}

button {
    background-color: var(--accent-1);
    color: var(--text-1);
}