/* Global fonts */
@import url('./fonts/css/satoshi.css');
@import url('./fonts/css/cabinet-grotesk.css');

/* Global colours */
:root {
    --base-1: #1e1e1e;
    --base-2: #272727;
    --base-3: #323232;
    --text-1: #fffcf9;
    --text-2: #cccccc;
    --text-3: #999999;
    --accent-1: #7e6bfd;
    --accent-1-dark: #5b3fd8;
    --accent-2: #ffd896;
    --accent-2-dark: #f1c16d;
}

/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root HTML and body */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

/* React root element */
#root {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: var(--base-1);
    color: var(--text-1);
    font-family: Satoshi-Variable, sans-serif;
    text-align: center;
}

/* Main App container */
.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

/* =====================
     DEFAULT STYLES
===================== */

h1 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 800;
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}

h3 {
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

p {
    font-size: 1rem;
    color: var(--text-2);
}

button {
    background-color: var(--accent-1);
    color: var(--text-1);
}


/* =======================
     MANTINE OVERRIDES
======================= */

/* Dropdown Select*/
.mantine-Select-input {
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    height: 100% !important;
    margin: 0 !important;
    font-family: Satoshi-Variable, sans-serif !important;
    color: var(--base-2) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.mantine-Select-input::placeholder {
    color: var(--text-3) !important;
}

.mantine-Select-dropdown {
    background: var(--text-1) !important;
    border: none !important;
    border-radius: 0 !important;
    font-family: Satoshi-Variable, sans-serif !important;
    color: var(--base-2) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    padding: 0.3rem 0 0.3rem 0.3rem !important;
}

.mantine-Select-option {
  font-size: 0.85rem !important;
}

.mantine-Select-option:hover,
.mantine-Select-option:focus {
  background: var(--text-2) !important;
  color: var(--base-2) !important;
  border-radius: 0 !important;
}

/* Text Input */
.mantine-TextInput-input {
    border: none !important;
    background: transparent !important;
    height: 100% !important;
    margin: 0 !important;
    font-family: Satoshi-Variable, sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: var(--base-2) !important;
}

.mantine-TextInput-input::placeholder {
    color: var(--text-3) !important;
}

/* Button */
.mantine-Button-root {
    background-color: var(--accent-1) !important;
    border-radius: 100vw !important;
    color: var(--text-1) !important;
    font-family: Satoshi-Variable, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 800 !important;
    margin: auto !important;
    transition: background-color 0.3s ease !important;
}

.mantine-Button-root:hover {
    background-color: var(--accent-1-dark) !important;
}

/* Pagination */
.mantine-Pagination-root {
    --pagination-active-bg: var(--accent-2) !important;
    --pagination-active-color: var(--base-2) !important;
    font-family: Satoshi-Variable, serif !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.mantine-Pagination-control {
    color: var(--base-2) !important;
    height: 36px !important;
    width: 36px !important;
    margin: 0 !important;
    font-size: 1rem !important;
}

.mantine-Pagination-control:first-child, .mantine-Pagination-control:last-child {
    color: var(--base-2) !important;
    border: 0 !important;
    border-radius: 100vw !important;
    background-color: var(--accent-2) !important;
    height: 24px !important;
    margin: 0.2rem !important;
}

.mantine-Pagination-control:first-child svg, .mantine-Pagination-control:last-child svg {
    height: 12px !important;
}